<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_MageSetupEmail>
            <version>1.9.1.0.1</version>
        </MageProfis_MageSetupEmail>
    </modules>
    <global>
        <helpers>
            <magesetupemail>
                <class>MageProfis_MageSetupEmail_Helper</class>
            </magesetupemail>
        </helpers>
        <models>
            <magesetupemail>
                <class>MageProfis_MageSetupEmail_Model</class>
            </magesetupemail>
            <core>
                <rewrite>
                    <translate>MageProfis_MageSetupEmail_Model_Core_Translate</translate>
                </rewrite>
            </core>
        </models>
        <cache>
            <types>
                <mycache translate="label,description" module="magesetupemail">
                    <label>E-Mail Template Path Cache</label>
                    <description>E-Mail Template Path Cache</description>
                    <tags>magesetupemail</tags>
                </mycache>
            </types>
        </cache>
    </global>
</config>
