<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_MageSetupEmail>
            <version>1.9.1.0.1</version>
        </MageProfis_MageSetupEmail>
    </modules>
    <global>
        <helpers>
            <magesetupemail>
                <class>MageProfis_MageSetupEmail_Helper</class>
            </magesetupemail>
        </helpers>
        <models>
            <magesetupemail>
                <class>MageProfis_MageSetupEmail_Model</class>
            </magesetupemail>
            <core>
                <rewrite>
                    <translate>MageProfis_MageSetupEmail_Model_Core_Translate</translate>
                </rewrite>
            </core>
        </models>
    </global>
</config>